################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ON/Holly-Minch/Test2/test2/.vs/test2/v16
/ON/Holly-Minch/Test2/Test 3/Test 3 Project/.vs/Test 3 Project/v16
